.Ip7_40RV01cJQWOXaa1u9 {
  padding-top: 90px;
  padding-bottom: 60px;
  position: relative;
  border-radius: 25px 25px 0 0;
  background-color: var(--gray-0); }
  @media (min-width: 880px) {
    .Ip7_40RV01cJQWOXaa1u9 {
      border-radius: 45px 45px 0 0; } }
  @media (min-width: 1024px) {
    .Ip7_40RV01cJQWOXaa1u9 {
      padding-bottom: 60px; } }

._2-EFN8a0So2L5y3y9g8dFh {
  display: flex;
  flex-direction: column;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    ._2-EFN8a0So2L5y3y9g8dFh {
      align-items: center;
      justify-content: space-between;
      flex-direction: row; } }

._2Um8gu_8fbj4IcFMc0VxX- {
  padding: 0 10px; }
  @media (min-width: 700px) {
    ._2Um8gu_8fbj4IcFMc0VxX- {
      padding: 0 30px; } }
  @media (min-width: 880px) {
    ._2Um8gu_8fbj4IcFMc0VxX- {
      padding: 0 60px; } }
  @media (min-width: 1024px) {
    ._2Um8gu_8fbj4IcFMc0VxX- {
      max-width: 560px;
      padding-left: 0;
      padding-right: 20px; } }

._3e9vCH2nD3KyYZOUR_4jkV {
  margin-bottom: 30px;
  font-family: var(--font-primary);
  color: var(--primary);
  font-size: var(--font-size-4);
  font-weight: var(--font-normal); }
  @media (min-width: 700px) {
    ._3e9vCH2nD3KyYZOUR_4jkV {
      font-size: var(--font-size-3); } }
  @media (min-width: 880px) {
    ._3e9vCH2nD3KyYZOUR_4jkV {
      font-size: var(--font-size-2); } }
  @media (min-width: 1024px) {
    ._3e9vCH2nD3KyYZOUR_4jkV {
      font-size: var(--font-size-2); } }

.Fay3DGmS9FGeIXufvXAHW {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: var(--font-size-7);
  font-weight: var(--font-semibold);
  line-height: 28px;
  color: var(--gray-8); }
  @media (min-width: 520px) {
    .Fay3DGmS9FGeIXufvXAHW {
      font-size: var(--font-size-6); } }
  @media (min-width: 700px) {
    .Fay3DGmS9FGeIXufvXAHW {
      font-size: var(--font-size-6); } }

._3WU4vO2ip1qek4DJrqzZ_f {
  font-size: var(--font-size-7);
  color: var(--gray-7);
  margin-bottom: 30px;
  line-height: 28px; }
  @media (min-width: 520px) {
    ._3WU4vO2ip1qek4DJrqzZ_f {
      line-height: 30px;
      font-size: var(--font-size-6); } }
  @media (min-width: 880px) {
    ._3WU4vO2ip1qek4DJrqzZ_f {
      line-height: 36px;
      font-size: var(--font-size-6); } }

._1ObFaSpcD0ErJZIV3bfyXJ {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid var(--gray-1); }

._2T66ev0TRoKsLK9M_utOzm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }
  @media (min-width: 700px) {
    ._2T66ev0TRoKsLK9M_utOzm {
      margin-top: 90px; } }
  @media (min-width: 880px) {
    ._2T66ev0TRoKsLK9M_utOzm {
      margin-top: 90px;
      max-width: 70%; } }
  @media (min-width: 1024px) {
    ._2T66ev0TRoKsLK9M_utOzm {
      margin-top: 0;
      margin-bottom: 0; } }
  ._2T66ev0TRoKsLK9M_utOzm svg {
    width: 100%;
    height: auto;
    margin: 0 auto; }
    ._2T66ev0TRoKsLK9M_utOzm svg #fill > path {
      fill: var(--primary); }
    ._2T66ev0TRoKsLK9M_utOzm svg #stroke > path {
      stroke: var(--primary); }

._6XdB2r_IVpoHG4p4BxPP6 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }
  ._6XdB2r_IVpoHG4p4BxPP6::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    z-index: 10; }

._2KHsnL7SlYvJtLTshNkSRa {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0; }

._3qY3hjTsT8jhxrRuXdyOYs {
  position: relative;
  z-index: 1;
  background-color: var(--gray-0);
  padding-top: 60px;
  padding-bottom: 60px;
  overflow-x: hidden; }
  @media (min-width: 1024px) {
    ._3qY3hjTsT8jhxrRuXdyOYs {
      padding-top: 60px;
      padding-bottom: 180px; } }
  ._3qY3hjTsT8jhxrRuXdyOYs ._2dQqwEo0wcsgyJONi8Kt4I {
    position: relative; }
    ._3qY3hjTsT8jhxrRuXdyOYs ._2dQqwEo0wcsgyJONi8Kt4I:before {
      content: '';
      position: absolute;
      height: 95%;
      top: 80px;
      left: 20px;
      width: 2px;
      background-color: rgba(13, 13, 13, 0.4); }
    @media (min-width: 700px) {
      ._3qY3hjTsT8jhxrRuXdyOYs ._2dQqwEo0wcsgyJONi8Kt4I::before {
        top: 90px;
        left: calc(50% - 2px); } }
    @media (min-width: 880px) {
      ._3qY3hjTsT8jhxrRuXdyOYs ._2dQqwEo0wcsgyJONi8Kt4I::before {
        top: 180px;
        left: calc(50% - 2px); } }
    @media (min-width: 1024px) {
      ._3qY3hjTsT8jhxrRuXdyOYs ._2dQqwEo0wcsgyJONi8Kt4I::before {
        top: 120px;
        height: 100%; } }

._37BT8KC_HjD3DLEFioGRc3 {
  margin: 0 auto 60px;
  font-weight: var(--font-semibold);
  font-family: var(--font-primary);
  max-width: 620px;
  text-align: left;
  font-size: var(--font-size-5);
  color: var(--gray-6); }
  @media (min-width: 700px) {
    ._37BT8KC_HjD3DLEFioGRc3 {
      text-align: center;
      margin: 0 auto 0;
      max-width: 420px;
      line-height: 30px; } }
  @media (min-width: 880px) {
    ._37BT8KC_HjD3DLEFioGRc3 {
      padding-top: 30px;
      font-size: var(--font-size-4); } }
  @media (min-width: 1024px) {
    ._37BT8KC_HjD3DLEFioGRc3 {
      font-size: var(--font-size-3); } }

._1nFJYxzh2qjvEHg9Irc82v {
  max-width: 840px;
  margin: 0 auto; }
  @media (min-width: 700px) {
    ._1nFJYxzh2qjvEHg9Irc82v {
      padding-top: 60px; } }
  ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ {
    margin: 0 auto;
    position: relative; }
    ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:not(:last-of-type) {
      margin-bottom: 90px; }
    ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:first-of-type {
      margin-top: 90px; }
    ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:before {
      content: '';
      height: 2px;
      width: 40px;
      display: none;
      position: absolute;
      background-color: var(--gray-2); }
    @media (min-width: 700px) {
      ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:not(:last-of-type) {
        margin-bottom: 60px; }
      ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:first-of-type {
        margin-top: unset; }
      ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:before {
        display: block; }
      ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:nth-child(odd) {
        transform: translateX(-30%); } }
  @media (min-width: 700px) and (min-width: 1024px) {
    ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:nth-child(odd) {
      transform: translateX(-60%); } }
    @media (min-width: 700px) {
        ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:nth-child(odd) ._3hr3RY04FzbYQpZSVxZVCM {
          right: -115%; }
        ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:nth-child(odd):before {
          right: -40px; }
      ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:nth-child(even) {
        transform: translateX(30%); } }
  @media (min-width: 700px) and (min-width: 1024px) {
    ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:nth-child(even) {
      transform: translateX(60%); } }
    @media (min-width: 700px) {
        ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:nth-child(even) ._3hr3RY04FzbYQpZSVxZVCM {
          text-align: right;
          left: -115%; }
        ._1nFJYxzh2qjvEHg9Irc82v ._3vqikFc6AD0sHQJ8y19fnZ:nth-child(even):before {
          left: -40px; } }

._3vqikFc6AD0sHQJ8y19fnZ {
  background-color: var(--gray-1);
  border-radius: var(--radius-normal);
  box-shadow: var(--shadow-large);
  padding: 30px; }
  @media (min-width: 700px) {
    ._3vqikFc6AD0sHQJ8y19fnZ {
      width: 388px; } }
  ._3vqikFc6AD0sHQJ8y19fnZ._2wnKnSutYAyIKh3jggBahc {
    padding: 20px; }
    ._3vqikFc6AD0sHQJ8y19fnZ._2wnKnSutYAyIKh3jggBahc ._1agYV2x3duyIQvZdRcepDt {
      margin-bottom: 0; }

._3hr3RY04FzbYQpZSVxZVCM {
  position: absolute;
  color: var(--gray-5);
  top: -40px;
  left: 40px; }
  @media (min-width: 700px) {
    ._3hr3RY04FzbYQpZSVxZVCM {
      top: 20px;
      left: unset;
      width: 100%; } }

._1agYV2x3duyIQvZdRcepDt {
  display: flex;
  margin-bottom: 20px; }

._1VMyWPHNr5GM_xnq4Xcqa6 {
  font-family: var(--font-primary);
  color: var(--gray-6);
  font-weight: var(--font-normal);
  font-size: var(--font-size-5); }
  @media (min-width: 700px) {
    ._1VMyWPHNr5GM_xnq4Xcqa6 {
      font-size: var(--font-size-4); } }

._2FKBlUHF0_Gn0acNBmcSxS {
  color: var(--secondary);
  font-size: var(--font-size-7); }
  @media (min-width: 700px) {
    ._2FKBlUHF0_Gn0acNBmcSxS {
      font-size: var(--font-size-6); } }

._17IxRoxEIUZZuMBxH8pCUQ {
  color: var(--gray-7);
  font-size: var(--font-size-7); }
  @media (min-width: 700px) {
    ._17IxRoxEIUZZuMBxH8pCUQ {
      font-size: var(--font-size-6); } }

._3Q1INo69Cu0J7Tu2fpXYpQ {
  position: absolute;
  top: -20px;
  right: 20px; }
  ._3Q1INo69Cu0J7Tu2fpXYpQ img {
    width: 44px;
    border-radius: 50%;
    box-shadow: var(--shadow-normal); }
  @media (min-width: 700px) {
    ._3Q1INo69Cu0J7Tu2fpXYpQ {
      margin-right: 10px;
      top: 20px; }
      ._3Q1INo69Cu0J7Tu2fpXYpQ img {
        width: 64px; } }

.VUGIPjGgHtzvbHiU19iTQ {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  background-color: var(--gray-1);
  overflow-x: hidden; }

._2-iNNCFskmr4l2OFN2DRsf {
  max-width: 660px;
  margin: 0 auto;
  text-align: center; }
  ._2-iNNCFskmr4l2OFN2DRsf p {
    margin-top: 30px; }
    ._2-iNNCFskmr4l2OFN2DRsf p strong {
      display: block;
      margin-top: 30px; }

._3GWS2QhxFzS89zdr488SZl {
  margin-bottom: 30px; }

._2-fO4-r0uRLL26O-_51Mck {
  width: 100%;
  margin-bottom: 30px; }
  @media (min-width: 880px) {
    ._2-fO4-r0uRLL26O-_51Mck {
      min-width: 140px; } }
  ._2-fO4-r0uRLL26O-_51Mck p {
    margin-bottom: 20px; }

._1_aq7qAssSIIohinpVy8ry {
  display: flex;
  align-items: center;
  justify-content: center; }

._2WPgGFQVSwf9M13Zb9yr-e {
  display: flex;
  align-items: center; }
  ._2WPgGFQVSwf9M13Zb9yr-e svg {
    margin-right: 10px; }
  ._2WPgGFQVSwf9M13Zb9yr-e:not(:last-of-type) {
    margin-right: 30px; }

._1BHSavS00_YtfwFOib3FxI {
  position: relative;
  cursor: pointer;
  height: 44px;
  width: 44px; }
  ._1BHSavS00_YtfwFOib3FxI svg {
    position: relative; }
    ._1BHSavS00_YtfwFOib3FxI svg path {
      fill: var(--primary); }
  ._1BHSavS00_YtfwFOib3FxI:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    opacity: 1;
    background-color: var(--gray-9);
    box-shadow: 0 1px 10px 0px rgba(255, 255, 255, 0.2);
    transition: opacity 0.2s; }
  ._1BHSavS00_YtfwFOib3FxI:hover:before, ._1BHSavS00_YtfwFOib3FxI:focus:before {
    opacity: 1; }
  ._1BHSavS00_YtfwFOib3FxI:hover path, ._1BHSavS00_YtfwFOib3FxI:focus path {
    transition: fill 0.2s;
    fill: var(--primary); }

._2gV_nPmf5c_GHdNFnWxdmJ {
  position: absolute;
  display: flex;
  z-index: 2;
  top: 20px;
  left: 20px;
  right: 30px;
  justify-content: space-between; }
  @media (min-width: 700px) {
    ._2gV_nPmf5c_GHdNFnWxdmJ {
      top: 30px;
      left: 30px; } }
  ._2gV_nPmf5c_GHdNFnWxdmJ svg {
    fill: var(--primary); }

._3T1JTm6ViCdaE59RbV5HZC {
  display: block;
  color: var(--primary);
  padding: 4px 12px;
  border-radius: 4px;
  background-color: var(--gray-1);
  border: 0;
  text-decoration: none;
  height: 100%; }
  ._3T1JTm6ViCdaE59RbV5HZC:hover {
    color: var(--primary);
    background-color: var(--primary-light); }
  ._3T1JTm6ViCdaE59RbV5HZC span,
  ._3T1JTm6ViCdaE59RbV5HZC small {
    display: block; }
  ._3T1JTm6ViCdaE59RbV5HZC small {
    color: var(--gray-5);
    font-size: 10px;
    text-transform: uppercase; }

._3AWxZfUw9T1ytVDTJ26bnG {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0; }
  ._3AWxZfUw9T1ytVDTJ26bnG img {
    margin: 60px auto 0; }

.LYhtdtelDr6vkyBdw8Q2M {
  max-width: 612px;
  min-height: 386px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1; }

.tNOF16Ufl8u5WhXZa17mg {
  color: var(--primary);
  font-weight: var(--font-normal);
  font-family: var(--font-primary);
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  font-size: 120px; }
  @media (min-width: 520px) {
    .tNOF16Ufl8u5WhXZa17mg {
      font-size: 138px; } }
  @media (min-width: 700px) {
    .tNOF16Ufl8u5WhXZa17mg {
      font-size: 168px; } }

._9OHQmkXYqEEzbVeL_OzVk {
  line-height: 24px;
  font-weight: var(--font-normal);
  font-size: var(--font-size-6);
  font-family: var(--font-secondary);
  margin-bottom: 60px;
  max-width: 500px; }
  @media (min-width: 520px) {
    ._9OHQmkXYqEEzbVeL_OzVk {
      line-height: 32px;
      font-size: var(--font-size-6); } }
  @media (min-width: 700px) {
    ._9OHQmkXYqEEzbVeL_OzVk {
      line-height: 28px;
      font-size: var(--font-size-5); } }

._1SyqFVMmhimGYvpf_eOMA9 {
  color: var(--gray-7);
  font-size: var(--font-size-6);
  font-weight: var(--font-bold);
  max-width: 280px; }

@charset "UTF-8";
.X4z2pGUR3UD-uUsZfvEhS {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center; }

._2yZp75dkap_TcCV-eBpS-r {
  height: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.-ZkJcsKryviCcXbz6kMEL {
  position: relative;
  display: block;
  border-radius: 50%; }
  .-ZkJcsKryviCcXbz6kMEL:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    background-color: var(--gray-9);
    box-shadow: 0 1px 10px 0px rgba(255, 255, 255, 0.2);
    transition: opacity 0.2s; }
  .-ZkJcsKryviCcXbz6kMEL path  {
    fill: var(--gray-2); }
  .-ZkJcsKryviCcXbz6kMEL:hover:before, .-ZkJcsKryviCcXbz6kMEL:focus:before {
    opacity: 1; }
  .-ZkJcsKryviCcXbz6kMEL:hover path, .-ZkJcsKryviCcXbz6kMEL:focus path {
    transition: fill 0.2s;
    fill: var(--primary); }

._1ZTyrjHAXA5iAPnbFLiJlz {
  position: relative;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--gray-1); }

._1GVPDvVhyYl9ebLXXcFG-j {
  text-align: center; }

._3J0Ju1kM_DkvII_QFW3Pxm {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
  align-items: stretch;
  margin: 60px auto 60px auto; }
  @media (min-width: 700px) {
    ._3J0Ju1kM_DkvII_QFW3Pxm {
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1280px) {
    ._3J0Ju1kM_DkvII_QFW3Pxm {
      row-gap: 2rem;
      max-width: unset;
      grid-template-columns: repeat(4, 1fr); } }

.cC-MhXbCyQYJHnL-9xljT {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cC-MhXbCyQYJHnL-9xljT._1wWK5rJViI5iqeZoBJ91P2 {
    align-self: stretch; }
  @media (min-width: 1024px) {
    .cC-MhXbCyQYJHnL-9xljT:not(:last-of-type) {
      margin-bottom: 0; } }

._7tOjD0YI5hPbnxGOUpMVZ,
._2GK0Xac5pXD3vjLt6hrK9r,
.fOMLP_xEGhO2-d0bbGT7_ {
  margin: 0 auto;
  max-width: 820px; }

._7tOjD0YI5hPbnxGOUpMVZ {
  font-size: var(--font-size-5);
  font-family: var(--font-primary);
  color: var(--gray-9);
  font-weight: var(--font-semibold);
  max-width: 540px; }
  @media (min-width: 700px) {
    ._7tOjD0YI5hPbnxGOUpMVZ {
      margin-top: 20px;
      max-width: 60%; } }
  @media (min-width: 880px) {
    ._7tOjD0YI5hPbnxGOUpMVZ {
      font-size: var(--font-size-4); } }
  @media (min-width: 1024px) {
    ._7tOjD0YI5hPbnxGOUpMVZ {
      font-size: var(--font-size-3);
      margin-top: 60px; } }

.fOMLP_xEGhO2-d0bbGT7_ {
  color: var(--primary);
  margin-top: 30px; }

._2GK0Xac5pXD3vjLt6hrK9r {
  font-family: var(--font-primary);
  font-size: var(--font-size-6);
  color: var(--gray-7);
  font-weight: var(--font-semibold); }
  @media (min-width: 700px) {
    ._2GK0Xac5pXD3vjLt6hrK9r {
      font-size: var(--font-size-5);
      max-width: 580px; } }

.KiMHC8nqMy5_9xH6c5TWG {
  display: inline-block;
  font-weight: var(--font-bold);
  margin-bottom: 20px;
  padding: 5px 20px;
  border-radius: var(--radius-button);
  background-color: var(--secondary); }

._1wWK5rJViI5iqeZoBJ91P2 {
  height: 100%;
  padding: 20px;
  border-radius: var(--radius-normal);
  border: 1px solid var(--gray-2);
  background-color: var(--gray-0);
  text-align: left; }

 {
  /* Box sizing rules */
  /* Remove default padding */
  /* Remove default margin */
  /* Set core body defaults */
  /* Remove list styles on ul, ol elements with a class attribute */
  /* A elements that don't have a class get default styles */
  /* Make images easier to work with */
  /* Natural flow and rhythm in articles by default */
  /* Inherit fonts for inputs and buttons */
  /* Remove all animations and transitions for people that prefer not to see them */ }
  *,
  *::before,
  *::after {
    box-sizing: border-box; }
  ul,
  ol {
    padding: 0;
    margin: 0; }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0; }
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5; }
  ul[class],
  ol[class] {
    list-style: none; }
  a:not([class]) {
    text-decoration-skip-ink: auto; }
  img {
    max-width: 100%;
    display: block; }
  article > * + * {
    margin-top: 1em; }
  input,
  button,
  textarea,
  select {
    font: inherit; }
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important; } }

 {
  /*
  ################
   SIZE
  ################
  */
  /*
  ################
   WEIGHT
  ################
  */
  /*
  ################
   COLOR
  ################
  */ }
  .t-font-1 {
    font-family: var(--font-primary); }
  .t-font-2 {
    font-family: var(--font-secondary); }
  .t-size-1 {
    font-size: var(--font-size-1); }
  .t-size-2 {
    font-size: var(--font-size-2); }
  .t-size-3 {
    font-size: var(--font-size-3); }
  .t-size-4 {
    font-size: var(--font-size-4); }
  .t-size-5 {
    font-size: var(--font-size-5);
    line-height: 30px; }
  .t-size-6 {
    font-size: var(--font-size-6); }
  .t-size-7 {
    font-size: var(--font-size-7); }
  .t-weight-light {
    font-weight: 300; }
  .t-weight-normal {
    font-weight: 400; }
  .t-weight-semibold {
    font-weight: 500; }
  .t-weight-bold {
    font-weight: 700; }
  .t-color-primary {
    color: var(--primary); }
  .t-color-g0 {
    color: var(--gray-0); }
  .t-color-g1 {
    color: var(--gray-1); }
  .t-color-g2 {
    color: var(--gray-2); }
  .t-color-g3 {
    color: var(--gray-3); }
  .t-color-g4 {
    color: var(--gray-4); }
  .t-color-g5 {
    color: var(--gray-5); }
  .t-color-g6 {
    color: var(--gray-6); }
  .t-color-g7 {
    color: var(--gray-7); }
  .t-color-g8 {
    color: var(--gray-8); }
  .t-color-g9 {
    color: var(--gray-9); }

.section {
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 880px) {
    .section {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1024px) {
    .section {
      padding-left: 60px;
      padding-right: 60px; } }

.section__inner {
  max-width: 1280px;
  margin: 0 auto; }

:root {
  --black: hsl(0, 0%, 5%);
  --gray-0: hsl(0, 0%, 10%);
  --gray-1: hsl(0, 0%, 13%);
  --gray-2: hsl(0, 0%, 20%);
  --gray-3: hsl(0, 0%, 31%);
  --gray-4: hsl(0, 0%, 42%);
  --gray-5: hsl(0, 0%, 62%);
  --gray-6: hsl(0, 0%, 70%);
  --gray-7: hsl(0, 0%, 85%);
  --gray-8: hsl(0, 0%, 90%);
  --gray-9: hsl(0, 0%, 95%);
  --white: hsl(0, 0%, 98%);
  --primary: hsl(342, 97%, 55%);
  --primary-light: hsl(342, 80%, 94%);
  --secondary: hsl(246, 100%, 69%);
  --secondary-light: hsl(247, 100%, 89%);
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Karla', sans-serif;
  --font-size-hero: 168px;
  --font-size-1: 36px;
  --font-size-2: 32px;
  --font-size-3: 26px;
  --font-size-4: 24px;
  --font-size-5: 20px;
  --font-size-6: 18px;
  --font-size-7: 16px;
  --font-size-8: 14px;
  --font-bold: 700;
  --font-semibold: 600;
  --font-normal: 400;
  --font-light: 300;
  --radius-normal: 8px;
  --radius-button: 36px;
  --shadow-normal: 0 5px 8px 0px rgba(0, 0, 0, 0.2);
  --shadow-large: 0 5px 18px 0px rgba(0, 0, 0, 0.1); }

html,
body {
  color: var(--gray-7);
  font-family: var(--font-secondary);
  background-color: var(--gray-1); }

main {
  width: 100%;
  height: auto;
  position: relative; }

p {
  line-height: 28px; }

a,
link {
  color: var(--gray-8); }
  a:hover, a:focus,
  link:hover,
  link:focus {
    color: var(--primary);
    text-transform: underline; }
  a.primary,
  link.primary {
    color: var(--primary); }

.highlight {
  color: var(--primary); }

